.navbarDiv {
  padding: 5px 120px;
  background: #fff;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
}

.navButtons{
  display: flex;
  gap: 100px;
  border-style: 1px solid red;  
}
